body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: white;

    background-image: url("./BG1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}